#Please keep .env in your .gitignore- this is an example of my .env for this app.
OPENAI_API_KEY=your_openai_key

SMTP_SERVER=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
SMTP_PASSWORD=your_sendgrid_api_key
EMAIL_FROM=your_email
SENDGRID_API_KEY=Sendgrid_api_key

SECRET_KEY=create_a_long_complex_key

MONGO_URI=mongodb://mongodb:<port>/name



